body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #00ff51cd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
h1 {
    margin-bottom: 20px;
}
label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}